body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    color: #fff;
    font-family: Arial, sans-serif;
}

#game-area {
    text-align: center;
}

#info-bar {
    margin-bottom: 20px;
}

#gameCanvas {
    background-color: #111;
    display: block;
    margin: 0 auto;
    border: 2px solid #fff;
}
